/** DEFAULTS **/

a{
	text-decoration: none;
}

/** CONTENT **/

header{
	background: #1F1F1F;
	color: #AFAFAF;
}

header a{
	color: #AFAFAF;
}

body{
  background: #FAFAFA;
	color: #1F1F1F;
	font-family: Verdana, sans-serif;
}

footer {
	text-align: center;
	height: 103px;
	background: #1F1F1F;
	color: #AFAFAF;
	bottom: 0;
	width: 100%;
	padding-top: 25px;
}

section{
	margin-top: 25px;
}

article{
	margin: 0 0 20px 0;
}

article h1{
	margin: 0;
	font-size: 2.5em;
}

article h1 a{
	color: #1F1F1F;
}

article .content{
	padding: 10px 5px 5px 5px;
}

.categories {
	margin-bottom: 1rem;
	list-style: none;
	display: inline;
	margin: 2px;
	padding: 4px;
}
